@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
body, html{ margin:0; padding:0; font-family:'Open Sans'; }
* { box-sizing:border-box; }


body{
    display:grid;
    grid-template-rows: 20vh auto;
    background:#f4f4f8;
    width:50vw;
    margin:auto;
    padding-top:2rem;
    font-weight: 300;
}

.header{
    display:grid;
    place-items:center;
    text-align: center;
}
h1{
    font-family:'Times New Roman', Times, serif;
    padding-top:1rem;
    border-top:4px solid #888;
    color:#888;
}
h3{
    margin:0;
    padding:0;
    font-size:.8rem;
}
.all-books{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content:center;
    gap:.4rem;
    padding:.4rem;
}

article{
    max-height: 15rem;
    padding:1rem;
    background:#e6e6ea;
    position:relative;
}
article .delete{
    position:absolute;
    height:1.4rem;
    width:1.4rem;
    padding:.2rem;
    bottom:.5rem;
    right:.5rem;
    border:1px solid #888;
    border-radius:50%;
    cursor:pointer;
    transition:.3s ease;
}
article .delete:hover{
    box-shadow: 0 0 6px 0px gray;
}
article h2{
    margin-bottom:0;
    padding-bottom:.4rem;
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    height:12vh;
    display:grid;
    gap:2rem;
    justify-content:center;
    align-items:center;
    grid-auto-flow:column;
    border-top: 1px solid #999;
}
input, button{
    outline:none;
    border:none;
    padding:.4rem;
    border-radius:.6rem;
    text-align:center;
    border:1px solid #999;
}
input{
    min-width:14vw;
}
button{
    min-width:6vw;
    background:#f4f4f8;
}